<h2 class="ui center aligned large header">
    Welcome to MessageMe - <em> a complete Chat App</em>
</h2>
<h4 class="ui center aligned medium icon header">
    <i class="circular grey id card outline icon"></i>
    User Login
</h4>

<div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
        <div class="column">
            <%= render 'form' %>
    <div class="middle aligned column">
        <div class="ui big button">
            <i class="signup icon"></i>
            Sign Up
        </div>
    </div>
    </div>
    <div class="ui vertical divider">
        Or
    </div> 
</div>